$color_orange:#FF8126;
$color_wtite:#FFFFFF;
$color_Black:#1F1F1F;

.main_banner{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 195px;
    h1{
        font-family: 'Cormorant', serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        color: $color_Black;
        margin-bottom: 5px;
    }
    h2{
        font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    color: $color_Black;
    margin-bottom: 40px;
    
}
.btn{
    @include button_style;
    padding: 8px 36px;
}
}