$color_orange:#FF8126;
$color_wtite:#FFFFFF;
$color_Black:#1F1F1F;

.main_banner{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 195px;
    // h1{
    //     // font-family: 'Cormorant', serif;
    //     // font-weight: 700;
    //     // font-size: 50px;
    //     // line-height: 61px;
    //     // color: $color_Black;
    //     // margin-bottom: 5px;
    //     // @include max-screen (359px){
    //     //     font-size: 30px;

    //     // }
    // }
    h2{
        font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    color: $color_Black;
    margin-bottom: 40px;
    @include max-screen (359px){
        font-size: 18px;

    }
    
}
.btn{
    @include button_style;
    padding: 8px 36px;
}
}
//!  box start__________________________________



.box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
 ul {
    margin-right: 10px;
    padding: 0;
    display: flex;
  }
}

  .box li {
    list-style: none;
    font-family: 'Cormorant', serif;
    font-weight: 700;
    color: $color_Black;
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 5px;
    transition: 2s;
    @include max-screen (359px){
        font-size: 30px;

    }
 
  }
  
  .box ul:hover li {
    transform: rotate(45deg) translateY(-150px);
    opacity: 0;
    // filter: blur(20px);
  }
  
  .box li:nth-child(1) {
    transition-delay: 0s;
  }
  
  .box li:nth-child(2) {
    transition-delay: 0.4s;
  }
  
  .box li:nth-child(3) {
    transition-delay: 0.8s;
  }
  
  .box li:nth-child(4) {
    transition-delay: 1.2s;
  }
  
  .box li:nth-child(5) {
    transition-delay: 1.6s;
  } 
  
  .box li:nth-child(6) {
    transition-delay: 1.8s;
  }
  .box li:nth-child(7) {
    transition-delay: 2s;
  }

//! __________________________box end


  
