

.main_banner{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 195px;
    h1{
        font-family: 'Cormorant';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        color: #1F1F1F;
        margin-bottom: 5px;
    }
    h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    color: #1F1F1F;
    margin-bottom: 40px;
    
}
.btn{
    @include button_style;
}
}