@media only screen and (max-width: 1080px) {
    .item_wrap article{
        margin-bottom: 30px;
    }

}
.container{
    padding: 0 10px;
}




@media only screen and (max-width: 1024px) {
    header nav ul li a{
        display: none;
    }


}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 800px) {


}

@media only screen and (max-width: 767px) {



}
@media only screen and (max-width: 548px) {
    .item_wrap{
       justify-content: center;
    }

}
@media only screen and (max-width: 494px) {

    header ul{
        display: block;

    }
header ul li{
    margin: 10px 0;
}
he
}
@media only screen and (max-width: 420px) {


    .instagram h3{
        font-size: 30px;
        line-height: 36px;
    }
}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 360px) {


@media only screen and (max-width: 320px) {

}
@media only screen and (max-width: 280px) {

    .instagram h3{
        font-size: 20px;
        line-height: 24px;
    }
}
