

@mixin button_style {
  
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color_wtite;

    background: $color_orange;

    background-image: linear-gradient(to left,transparent,transparent 50%,#FFFFFF 50%,#FFFFFF);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    border: 1px solid $color_orange;
    &:hover{
        background-position: 0 0;
        color:$color_orange;
    
    }
}
$color_orange:#FF8126;
$color_wtite:#FFFFFF;
$color_Black:#1F1F1F;

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }