.Our_Charity {
  background: #6090C3;
  background-image: url("../img/Group_BG.png");
  padding: 60px 0;
}

.Our_Charity .container h3 {
  font-family: 'Cormorant';
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.Our_Charity .container div {
  width: 100px;
  margin: auto;
  margin-bottom: 24px;
}

.Our_Charity .container div img {
  display: block;
  width: 100%;
}
