@import "normalize.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
// @import "media-queries.css";

@import "mixins";
// @import "header";
@import "main_banner";
@import "Latest";
@import "Why_Choose";
@import "instagram";
@import "who_Makes";
 @import "mobile_Menu"; //это header только с моб. меню


$color_orange:#FF8126;
$color_wtite:#FFFFFF;
$color_Black:#1F1F1F;



@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
  }



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Cormorant', serif;
    font-family: 'Poppins', sans-serif; */
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h3{
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: $color_Black;
}

.container{
    max-width: 1170px;
    margin: auto;
    position: relative;
    @include max-screen (1080px){
        padding: 0 10px;
    }
}

//TODO                   notification

.notification{
    background-color: #C2E8CE;
    .close{
        position: absolute;
        right: 0;
        background-image: url('../img/Cross.svg');
        width: 16px;
        height: 16px;
        background-size: contain;
        cursor: pointer;
        top: 17px;
    
    }
    p{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
        color: $color_Black;    
    }
}
